@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-instrument-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-instrument-sans), sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

html {
  scroll-behavior: smooth;
}
